* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }
  * h1, * h2, * h3, * h4, * h5, * p, * a {
    font-family: 'Source Sans Pro', sans-serif; }
  * p, * a {
    font-weight: 300;
    text-decoration: none;
    font-size: 120%; }

.nav-display-button {
  display: none; }

.nav-close-button {
  display: none; }

nav {
  height: 80px;
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
  overflow: hidden; }
  nav a {
    margin: 0 2% 0 2%;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bolder;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    transition: all 0.5s; }
  nav a:hover {
    border-color: white;
    color: white; }

.transparent-nav {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6); }

.transparent-nav-link {
  color: rgba(255, 255, 255, 0.8); }

header {
  width: 100%;
  min-width: 100vw !important;
  max-width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }
  header section {
    height: inherit;
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
  header .title {
    background-color: white;
    padding: 0 40px; }
    header .title a:visited {
      color: #ac8657; }
    header .title h1 {
      font-size: 200%;
      transition: all 0.5s;
      cursor: pointer;
      color: #deb08a; }
    header .title h1:hover {
      color: #89cdce; }
    header .title p {
      font-size: 150%;
      color: #252525; }
  header .titleImage-container {
    background-color: #dfc8b3;
    transition: all 0.5s;
    cursor: default; }
    header .titleImage-container .titleImage {
      height: auto;
      max-height: 720px;
      width: 75%;
      max-width: 490px;
      transition: all 0.5s; }
  header .titleImage-container:hover {
    background-color: #e0be8f; }

main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  main .review {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 50px 0;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #dfc8b3; }
    main .review .harpImage {
      position: absolute !important;
      z-index: 1;
      bottom: 3%;
      right: -100px; }
    main .review div {
      width: 80%;
      max-width: 1200px;
      position: relative;
      z-index: 2;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start; }
      main .review div p {
        margin-bottom: 15px;
        font-weight: 400;
        color: #252525; }
      main .review div div {
        margin-top: 20px; }
        main .review div div p {
          margin-top: 5px;
          margin-bottom: 0; }
  main .video-presentation-section {
    height: auto;
    width: 80%;
    padding: 100px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center; }
    main .video-presentation-section div {
      width: 80%;
      height: 100%;
      display: flex;
      align-items: center; }
      main .video-presentation-section div .video-presentation {
        aspect-ratio: 15/9;
        width: 100%;
        height: auto;
        border-radius: 10px;
        border: none; }
  main .contents {
    width: 80%;
    max-width: 1200px;
    height: auto;
    min-height: 100vh;
    padding: 100px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start; }
    main .contents h2 {
      font-weight: lighter;
      align-self: center;
      margin-bottom: 30px;
      color: #252525; }
    main .contents .chapter-grid-container {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-content: center;
      justify-content: center;
      gap: 30px; }
      main .contents .chapter-grid-container div:nth-child(10) {
        grid-column: 4 / 1; }
      main .contents .chapter-grid-container div {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center; }
        main .contents .chapter-grid-container div h3 {
          text-align: center;
          margin-top: 10px;
          color: #252525; }
      main .contents .chapter-grid-container .img-drop {
        height: 20vw;
        width: 20vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
      main .contents .chapter-grid-container #drop-1 {
        background-image: url("../assets/chapters/cap1.jpeg"); }
      main .contents .chapter-grid-container #drop-2 {
        background-image: url("../assets/chapters/cap2.jpeg"); }
      main .contents .chapter-grid-container #drop-3 {
        background-image: url("../assets/chapters/cap3.jpeg"); }
      main .contents .chapter-grid-container #drop-4 {
        background-image: url("../assets/chapters/cap4.jpeg"); }
      main .contents .chapter-grid-container #drop-5 {
        background-image: url("../assets/chapters/cap5.jpeg"); }
      main .contents .chapter-grid-container #drop-6 {
        background-image: url("../assets/chapters/cap6.jpeg"); }
      main .contents .chapter-grid-container #drop-7 {
        background-image: url("../assets/chapters/cap7.jpeg"); }
      main .contents .chapter-grid-container #drop-8 {
        background-image: url("../assets/chapters/cap8.jpeg"); }
      main .contents .chapter-grid-container #drop-9 {
        background-image: url("../assets/chapters/cap9.jpeg"); }
      main .contents .chapter-grid-container #drop-10 {
        background-image: url("../assets/chapters/cap10.jpeg"); }
  main .bio {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfc8b3; }
    main .bio div {
      height: 100%;
      width: 80%;
      max-width: 1200px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center; }
      main .bio div div {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center; }
      main .bio div .bio-description {
        padding: 0 20px 0 20px; }
        main .bio div .bio-description p {
          margin-top: 10px;
          color: #252525; }
        main .bio div .bio-description span {
          font-weight: bold; }
        main .bio div .bio-description a {
          font-size: 100%;
          color: black;
          font-weight: bolder;
          transition: all 0.5s ease; }
        main .bio div .bio-description a:hover {
          color: white; }
      main .bio div .author-picture {
        height: 50vw;
        max-width: 100%;
        overflow: hidden;
        background-image: url("../assets/mainpic.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      main .bio div .background-hover {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        cursor: default;
        background-color: rgba(0, 0, 0, 0);
        transition: all 0.5s ease; }
        main .bio div .background-hover a {
          margin: 10px; }
          main .bio div .background-hover a i {
            color: rgba(255, 255, 255, 0);
            font-size: 40px;
            transition: height 0.5s ease, width 0.5s ease; }
          main .bio div .background-hover a i:hover {
            height: 120%;
            width: 120%; }
      main .bio div .background-hover:hover {
        background-color: rgba(0, 0, 0, 0.6); }
        main .bio div .background-hover:hover a i {
          color: white; }
  main .acknowledgements {
    width: 100vw;
    min-height: 100vh;
    padding: 30px 0 30px 0;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center; }
    main .acknowledgements div {
      padding-top: 20px;
      width: 80%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center; }
      main .acknowledgements div .acknowledgments-grid-container {
        width: 100%;
        height: auto;
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 20px; }
        main .acknowledgements div .acknowledgments-grid-container div {
          width: 100%;
          padding: 0;
          align-items: center;
          justify-content: center; }
          main .acknowledgements div .acknowledgments-grid-container div p {
            text-align: center;
            font-size: 1rem;
            color: #252525; }
        main .acknowledgements div .acknowledgments-grid-container div:nth-child(7) {
          grid-column: 3 / 2; }

footer {
  width: 100vw;
  height: auto;
  min-height: 45vh;
  padding-top: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #deb08a; }
  footer div.contactContainer {
    height: auto;
    width: auto;
    min-width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start; }
    footer div.contactContainer div {
      width: 50%;
      min-width: 324px;
      margin: 20px 0 20px 0;
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center; }
      footer div.contactContainer div a, footer div.contactContainer div p {
        margin: 5px 0;
        color: #252525;
        transition: all 0.5s; }
      footer div.contactContainer div a:hover,
      footer div.contactContainer div p:hover {
        color: white; }
      footer div.contactContainer div h3 {
        color: #252525; }
      footer div.contactContainer div a i {
        color: #252525;
        margin-right: 5px; }
  footer div.purchase {
    align-items: center;
    color: #252525;
    margin: 10px 0 20px 0; }
    footer div.purchase h2 a {
      color: white;
      font-weight: 400;
      transition: all 0.5s; }
    footer div.purchase h2 a:visited {
      color: white; }
    footer div.purchase h2 a:hover {
      color: #252525; }
    footer div.purchase div {
      margin-top: 10px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center; }
      footer div.purchase div p {
        font-size: 0.9rem; }

.copyright {
  width: 100vw;
  height: 70px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  color: white;
  font-size: 12px; }
  .copyright p {
    font-weight: lighter;
    margin: 0; }
  .copyright a {
    color: white; }
  .copyright a:hover span {
    color: aquamarine;
    transition: all 0.5s; }

@media (max-width: 550px) {
  .nav-display-button {
    height: 0px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 50px;
    z-index: 10; }
  .nav-display-button div {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background-color: #deb08a;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
  .nav-display-button div i {
    font-size: 230%;
    color: white; }
  nav {
    height: 100vh !important;
    width: 100% !important;
    padding: 50px 100000px 0 0;
    position: fixed;
    left: 100%;
    z-index: 1000;
    background-color: rgba(37, 37, 37, 0.8);
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden; }
  nav a {
    font-size: 1.8rem;
    margin: 18px 0px; }
  nav .nav-close-button {
    color: white;
    font-size: 2.3rem;
    display: inline-block;
    position: relative; }
  .nav-visible {
    left: -10%; }
  header {
    margin: 0;
    height: 100vh;
    max-height: 100vh;
    flex-flow: column-reverse; }
    header section {
      width: 100%;
      max-width: 100vw;
      overflow: hidden;
      padding: 0 !important;
      margin: 0; }
    header section.title {
      height: 35%; }
      header section.title div {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center; }
        header section.title div a, header section.title div p {
          text-align: center;
          align-self: center; }
        header section.title div br {
          display: none; }
    header section.titleImage-container {
      height: 65% !important; }
      header section.titleImage-container img {
        height: 80% !important;
        max-height: 80% !important;
        width: auto !important; }
  main .review {
    min-height: auto;
    padding: 150px 0; }
    main .review div {
      width: 90%; }
      main .review div p {
        font-size: 1.1rem; }
    main .review .harpImage {
      bottom: 20px;
      left: -10px; }
  main .video-presentation-section {
    width: 100vw;
    padding: 100px 0; }
    main .video-presentation-section div {
      width: 90%; }
  main .contents {
    padding: 50px 0; }
    main .contents .chapter-grid-container {
      grid-template-columns: 1fr 1fr; }
      main .contents .chapter-grid-container div:nth-child(10) {
        grid-column: auto; }
  main .bio div {
    width: 90%;
    flex-flow: column-reverse nowrap; }
    main .bio div .bio-description {
      padding: 0; }
    main .bio div .author-picture {
      margin: 20px 0; }
  main .acknowledgements div div.acknowledgments-grid-container {
    grid-template-columns: 1fr 1fr; }
    main .acknowledgements div div.acknowledgments-grid-container div:nth-child(7) {
      grid-column: 1 / 3; }
  main .footer {
    min-height: 50vh; } }
