$mainOrange: #A68A66;
$mainDarkOrange: #A57E62;
$otherOrange: #F6E1C3;
$otherDarkOrange: #E9A178;
$lightCreme: #B1B1A6;
$lightGray: #B8B8B8;
$aqua: #5B9B94;
$aqua-transparent: rgba(91, 155, 148, 0.8);
$mainBlue: #4385C0;
$mainBlue-transparent: rgba($color: #4385C0, $alpha: 0.8);
$mainBlack: #252525;

$blue: #89cdce;
$gray: #878787;
$brown: #ac8657;
$beige-dark: #deb08a;
$beige: #e0be8f;
$beige-light: #dfc8b3;
