@import './colors.scss';

*{
    // border: 1px solid black;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    h1, h2, h3, h4, h5, p, a{
        font-family: 'Source Sans Pro', sans-serif;
        // font-family: "Merriweather Sans", sans-serif;
        // font-family: "DM Sans", sans-serif;
    }

    p, a{
        font-weight: 300;
        text-decoration: none;
        font-size: 120%;
    }
}

.nav-display-button {
    display: none;
    }
    
    .nav-close-button {
        display: none;
    }

nav {
    height: 80px;
    width: 100vw;
    position: fixed;
    z-index: 100;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: black, $alpha: 0.4);
    transition: all 0.5s;
    overflow: hidden;

    a{
        margin: 0 2% 0 2%;
        text-decoration: none;
        color: white;
        font-size: 1.3rem;
        font-weight: bolder;
        border-width: 0 0 2px 0;
        border-style: solid;
        border-color: rgba($color: white, $alpha: 0.0);
        transition: all 0.5s;
    }

    a:hover{
        border-color: rgba($color: white, $alpha: 1.0);
        color: white;
    }
}

.transparent-nav{
    height: 60px;
    background-color: rgba($color: #000000, $alpha: 0.6);
}

.transparent-nav-link{
    color: rgba($color: white, $alpha: 0.8);
}

header {
    width: 100%;
    min-width: 100vw !important;
    max-width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    section {
        height: inherit;
        width: 50%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        background-color: white;
        padding: 0 40px;

        a:visited{
            color: $mainBlue;
        }

        h1{
            font-size: 200%;
            transition: all 0.5s;
            cursor: pointer;
        }

        h1:hover{
            color: $mainBlack;
        }

        p{
            font-size: 150%;
        }

        div.purchaseButton{
            width: 80px;
            padding: 8px;
            text-align: center;
            background-color: $mainBlue-transparent;
            border-radius: 10px;
            box-shadow: 2px 2px 5px gray;
            transition: background-color 0.5s ease;
            cursor: pointer;
            
            a{
                color: white;
                font-size: 1.4rem;
            }
        }

        div.purchaseButton:hover{
            background-color: $mainBlue;
        }
    }

    .titleImage-container {
        background-color: $mainBlue;
        transition: all 0.5s;
        cursor: default;

        .titleImage{
            height: auto;
            max-height: 720px;
            width: 75%;
            max-width: 490px;
            transition: all 0.5s;
            // box-shadow: 5px 5px 10px rgb(149, 149, 149);
        }  
        
    }
    
    .titleImage-container:hover {
        background-color: $mainBlue-transparent;
    }

}

main {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
        
    .review {
        width: 100vw;
        height: auto;
        min-height: 100vh;
        padding: 50px 0;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: $mainBlue-transparent;
        
        .davidStar{
            position: absolute;
            z-index: 1;
            top: -10%;
            left: -10%;
        }

        div{
            width: 80%;
            max-width: 1200px;
            position: relative;
            z-index: 2;

            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;

            p{
                margin-bottom: 15px;
                font-weight: 400;
            }
    
            div {
                margin-top: 20px;
                p {
                    margin-top: 5px;
                    margin-bottom: 0;
                }
            }
        }
    }

    .presentation {
        width: 80%;
        max-width: 1200px;
        min-height: 100vh;
    }

    .contents{
        width: 80%;
        max-width: 1200px;
        height: auto;
        min-height: 100vh;
        padding: 100px 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        
        h2{
            font-weight: lighter;
            align-self: center;
            margin-bottom: 30px;
        }

        .chapter-grid-container{
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-content: center;
            justify-content: center;
            gap: 30px;

            div:nth-child(10) {
                grid-column: 4 / 1;
            }

            div{
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: center;

                h3{
                    text-align: center;
                    margin-top: 10px;
                }
            }

            .img-drop {
                    height: 20vw;
                    width: 20vw;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
            }
            
            #drop-1 {
                    background-image: url('../assets/chapters/cap1.jpeg');
                }
            
                #drop-2 {
                    background-image: url('../assets/chapters/cap2.jpeg');
                }
            
                #drop-3 {
                    background-image: url('../assets/chapters/cap3.jpeg');
                }
            
                #drop-4 {
                    background-image: url('../assets/chapters/cap4.jpeg');
                }
            
                #drop-5 {
                    background-image: url('../assets/chapters/cap5.jpeg');
                }
            
                #drop-6 {
                    background-image: url('../assets/chapters/cap6.jpeg');
                }
            
                #drop-7 {
                    background-image: url('../assets/chapters/cap7.jpeg');
                }
            
                #drop-8 {
                    background-image: url('../assets/chapters/cap8.jpeg');
                }
            
                #drop-9 {
                    background-image: url('../assets/chapters/cap9.jpeg');
                }
            
                #drop-10 {
                    background-image: url('../assets/chapters/cap10.jpeg');
                }
        }
    }

    .bio {
        width: 100vw;
        height: auto;
        min-height: 100vh;
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $mainBlue-transparent;
        
        div {
            height: 100%;
            width: 80%;
            max-width: 1200px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            div{
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
            }

            .bio-description {
                padding: 0 20px 0 20px;
                p{
                    margin-top: 10px;
                }
                span{
                    font-weight: bold;
                }

                a{
                    font-size: 100%;
                    color: black;
                    font-weight: bolder;
                    transition: all 0.5s ease;
                }

                a:hover{
                    color: white
                }
            }
            
            .author-picture{
                height: 50vw;
                max-width: 100%;
                overflow: hidden;
                background-image: url("../assets/mainpic.jpeg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            .background-hover{
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                cursor: default;
                background-color: rgba($color: black, $alpha: 0.0);
                transition: all 0.5s ease;

                a{
                    margin: 10px;

                    i{
                        color: rgba($color: white, $alpha: 0);
                        font-size: 40px;
                        transition: height 0.5s ease, width 0.5s ease;
                    }

                    i:hover{
                        height: 120%;
                        width: 120%;
                    }
                }
            }

            .background-hover:hover{
                background-color: rgba($color: black, $alpha: 0.6);
                a i{
                    color: rgba($color: white, $alpha: 1);
                }
            }
        }
    }
}

footer {
    width: 100vw;
    height: auto;
    min-height: 45vh;
    padding-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: $mainBlue;

    div.contactContainer{
        height: auto;
        width: auto;
        min-width: 50%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;

        div{
            width: 50%;
            min-width: 324px;
            margin: 20px 0 20px 0;
            height: auto;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;

            a, p {
                    margin: 5px 0;
                    color: $mainBlack;
                    transition: all 0.5s;
                }
            
                a:hover,
                p:hover {
                    color: white;
                }
            
                h3 {
                    color: $mainBlack;
                }
            
                a i {
                    color: white;
                    margin-right: 5px;
                }
            }
            }


    div.purchase{
        align-items: center;
        color: $mainBlack;
        margin: 10px 0 20px 0;
        
        h2 a {
            color: white;
            transition: all 0.5s;
        }

        h2 a:visited{
            color: white;
        }

        h2 a:hover{
            color: $mainBlack;
        }
    }
}

.copyright {
    width: 100vw;
    height: 70px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: $mainBlack;
    color: white;
    font-size: 12px;

    p{
        font-weight: lighter;
        margin: 0;
    }

    a{
        color: white;
    }

    a:hover{
        span{
            color: aquamarine;
            transition: all 0.5s;
        }
    }
}

@media (max-width: 550px) {
    .nav-display-button {
        height: 0px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: sticky;
        top: 50px;
        z-index: 10;
    }
    
    .nav-display-button div {
            height: 80px;
            width: 80px;
            border-radius: 50px;
            background-color: #4385C0;
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
        }
    
    .nav-display-button div i {
            font-size: 230%;
            color: white;
        }

    nav {
        height: 100vh !important;
        width: 100% !important;
        padding: 50px 100000px 0 0;
        position: fixed;
        left: 100%;
        z-index: 1000;
        background-color: rgba(37, 37, 37, 0.8);
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        overflow: hidden;
    }

    nav a {
        font-size: 1.8rem;
        margin: 18px 0px;
    }
    
    nav .nav-close-button {
        color: white;
        font-size: 2.3rem;
        display: inline-block;
        position: relative;
    }
    
    .nav-visible {
        left: -10%;
    }

    header{
        margin: 0;
        height: 100vh;
        max-height: 100vh;
        flex-flow: column-reverse;

        section{
            width: 100%;
            max-width: 100vw;
            overflow: hidden;
            padding: 0 !important;
            margin: 0;
        }

        section.title{
            height: 35%;

            div{
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-evenly;
                align-items: center;
                
                a, p {
                    text-align: center;
                    align-self: center;
                }

                br{
                    display: none;
                }

                .purchaseButton{
                    height: 30px;
                }
            }
        }

        section.titleImage-container{
            height: 65% !important;
            img{
                height: 80% !important;
                max-height: 80% !important;
                width: auto !important;
            }
        }
    }

    main{
        .review div{
            width: 90%;
            p{
                font-size: 1.1rem;
            }
        }

        .contents{
            padding: 50px 0;

            .chapter-grid-container{
                grid-template-columns: 1fr 1fr;
                
                div:nth-child(10) {
                    grid-column: auto;
                }
            }
        }

        .bio div{
            width: 90%;
            flex-flow: column-reverse nowrap;

            .bio-description {
                padding: 0;
            }

            .author-picture{
                margin: 20px 0;
            }
        }

        .footer{
            min-height: 50vh;
        }
    }
}